	@import 'tailwindcss';

	@theme {
		--color-surface: #f7f8fa;
		--color-surface-raised: #202733;
		--color-surface-raised-contrast: #eef1f5;
		--color-border: #e1e4e9;
		--color-text: #1b1f27;
		--color-text-muted: #667085;
		--color-text-muted-hi-contrast: #456050;
		--color-accent: #4f7396;
		--color-accent-contrast: #ffffff;
		--color-series-1: #edc240;
		--color-series-2: #afd8f8;
		--color-series-3: #cb4b4b;
		--color-series-4: #21ba45;
		--color-series-5: #9c27b0;
		--color-series-6: #444444;
		--color-series-7: #999999;
		--color-series-8: #1976d2;
		--color-series-9: #ff9800;
	}

	@layer base {
		h1 {
			font-size: 34px;
			font-weight: 600;
			color: var(--color-text)
		}
	}